{% extends 'base.html' %}
{% load static %}
{% block title %}Sing In{% endblock %}

{% block content %}
<div class="container">
    <h5 class="pt-5">Sing In</h5>
    {% if messages %}
    {% include 'message.html' %}
    {% endif %}
    <form action="" class="py-3" method="POST">
        {% csrf_token %} 
        <!-- email -->
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="zero@gmail.com">
        </div>
        <!-- password -->
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="text" class="form-control" id="password" name="password" placeholder="****">
        </div>
        <button class="btn btn-info">Sing In</button>
    </form>
</div>
{% endblock %}